/* ========================================
   TLB V3
   scoped to this page only
   ======================================== */

#tlb-version-two body,
#tlb-version-two .site-wrapper .header-menu .header-menu-bg {

}

#tlb-version-two #video-hero::after,
#tlb-version-two main#page::after {
  display: none;
}

#tlb-version-two #video-hero {
    position: relative;
    padding-top: 172px !important;
}

#tlb-version-two #video-hero .fe-6a45bcbb9a399f297b55c0b7 {
    --row-height-scaling-factor: 0 !important;
    max-width: 100%;
    width: 100%;
    position: relative;
    display: block;
}

#tlb-version-two .site-wrapper .header-menu .header-menu-nav a:not(.btn) {
    /*font-family: "ITC Serif Gothic Heavy";*/
    text-shadow: none;
}

#tlb-version-two h1,
#tlb-version-two h2 {
  /*font-family: "ITC Serif Gothic Heavy";*/
  text-shadow: none;
}

#tlb-version-two h3,
#tlb-version-two h4 {
  /*font-family: 'Optima', sans-serif;*/
  text-shadow: none;
}

#tlb-version-two h2 {
  position: relative;
  width: auto;
}

#tlb-version-two header#header .header-awards-bottomline {
  text-shadow: none;
  font-family: "ITC Serif Gothic Heavy";
}

#tlb-version-two .header_button a,
#tlb-version-two a.sqs-block-button-element,
#tlb-version-two .sqs-block-newsletter .newsletter-form-button,
#tlb-version-two .awards-topline,
#tlb-version-two .calendar .day .bestavail a::before,
#tlb-version-two .legend-dot {
  text-shadow: none;
  box-shadow: none;
}

#tlb-version-two .header_button a:hover,
#tlb-version-two .header_button a:hover,
#tlb-version-two  a.sqs-block-button-element:hover,
#tlb-version-two  a.sqs-block-button-element:focus,
#tlb-version-two .sqs-block-newsletter .newsletter-form-button:hover,
#tlb-version-two .sqs-block-newsletter .newsletter-form-button:focus {
  color: #fff !important;
  text-shadow: none;
}

#tlb-version-two  span.palace-logo {
    vertical-align: text-top;
}

#tlb-version-two #footer-sections>section h2 {
  font-size: 4.25vw !important;
  color: #fff !important;
}

#tlb-version-two #footer-sections p.theatre {
  font-size: 28px;
}

@media only screen and (max-width: 835px) {
  #tlb-version-two #video-hero {
      padding-top: 109px !important;
  }  
}

@media only screen and (max-width: 650px) {
  #tlb-version-two #video-hero {
      padding-top: 162px !important;
  } 
}

@media only screen and (max-width: 615px) {
  #tlb-version-two #footer-sections p.theatre {
    font-size: 12px;
  }
  #tlb-version-two #footer-sections>section h2 {
    font-size: 7.25vw !important;
  }  
}

@media only screen and (max-width: 450px) {
  #tlb-version-two #video-hero {
      padding-top: 151px !important;
  } 
}